{#src/Salud/ComprasBundle/Resources/views/menu.html.twig#}
<ul class="topnav">
    <li>  
        <a href="#">Productos</a>  
        <ul class="subnav">  
            <li><a href="{{ path("_producto_list") }}">Listado</a></li>  
        </ul>  
    </li>
</ul>