{#src/Salud/ComprasBundle/Resources/views/menu.html.twig#}
<div id='jqxMenu' >
    <ul>
        <li>  
            <a href="#">Productos</a>  
            <ul class="subnav">  
                <li><a href="{{ path("_producto_list") }}">Listado</a></li>  
            </ul>  
        </li>
        <li>  
            <a href="#">Plan de compras</a>  
            <ul class="subnav">  
                <li><a href="{{ path("plancompras") }}">Listado</a></li>
                <li><a href="{{ path("plancompras_new") }}">Crear Plan</a></li>
            </ul>  
        </li>
    </ul>
</div>